body{
    background-color: rgb(21 27 29);
    padding: 140px;
    padding-top: 40px;
    font-family: Comfortaa,sans-serif;
    font-weight: 500;
    letter-spacing: .2px;
}
/* //style={{display: 'flex', width: '20px', height:'2rem'}} */
.nav{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero{
    display: flex;
    color: rgb(132, 136, 135);
    background-color: rgb(36, 42, 45);
    height: 45px;
    width: 840px;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 0;
}

.timer{
    font-size: '30px';
    color:'white';
    text-align: start;
}

.settingsModal{
    z-index: 2000;
    top: 30%;
    left: 30%;
    height: 256px;
    width: 478px;
    position: absolute;
    color: white;
    background-color: rgb(23, 23, 23);
    padding: 60px;
    border-radius: 15px;
    border: 1px solid  rgb(132, 136, 135);
}

.settingsModal button{
    background-color: rgb(155 205 134);
    border-radius: 5px;
    padding: 8px;
    height: 40px;
    border: solid 1px rgb(132, 136, 135);
    color:  rgb(23, 23, 23);
}

.notificationModal{
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    position: absolute;
    width:400px;
    background-color: rgb(132, 136, 135);
    border: solid 1px rgb(82, 84, 83);
}

.modal{
    align-items: center;
    display:contents

}

.main-content{
    margin-top: 45px;
}

.para{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 11rem;
    color: rgb(132, 136, 135);
    line-height: 1.75rem;
    font-size: 1.25rem;
    overflow: hidden;
}
.word{
    display: inline;
    margin: 0.25rem;
}


.correct {
    color: rgb(218, 218, 218)
}

.incorrect {
    color: rgb(169, 84, 6)
}


.refresh{
    padding: 20px;
    border: 0;
    background-color: rgb(21 27 29) ;
    margin: auto;
    width: 100%;
}

.login{
    display: flex;
    justify-content: space-between;

}

.login p{
    color: rgb(132, 136, 135);
}

.form{
    height: 342px;
    width: 360px;
    text-align: start;
    color: white;
}

.form input, .form textarea{
    width: 100%;
    margin: 10px;
    padding: 20px;
    height: 20px;
    background-color: inherit;
    border: solid 1px rgb(132, 136, 135);
    border-radius: 5px;
    color: white;
    }

.form textarea{
    height: 75px;
}

.form label, .form p{
    padding-left: 12px;
}

.form button{
    width: 100%;
    margin: 10px;
    height: 50px;
    background-color: inherit;
    border: solid 1px rgb(132, 136, 135);
    border-radius: 5px;
    color: white;
}
.reviews{

    top: 50%;
    position: relative;
    text-align: start;
    color: white;
}

.comments{
    background-color: rgb(23, 23, 23);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid  rgb(132, 136, 135);
}

.contribute{
    background-color: rgb(23, 23, 23);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid  rgb(132, 136, 135);
    margin-top: 90px;
}

.contribute button{
    background-color: rgb(155 205 134);
    border-radius: 5px;
    padding: 8px;
    height: 40px;
    border: solid 1px rgb(132, 136, 135);
    color:  rgb(23, 23, 23);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90%;
    color: rgb(132, 136, 135);
}

.footer-left > ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items:flex-start;
}

.footer-left > ul > li{
    padding: 10px;
}


